@import '../utils/mixins';
@import '../utils/variables';

.products {
  padding-bottom: 12.8rem;
  .products__title {
    margin-bottom: 5rem;
  }
  .products__list {
    @include flex(row, space-between, center);
    gap: 1.8666rem;
    padding-bottom: 3.2rem;
  }
}
