@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: rgb(222, 216, 216);
}

.bg-container {
  max-width: 120rem;
  margin: 0 auto;
  background: rgb(250, 250, 250);
}

.bg-container-100 {
  max-width: 120rem;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: rgb(250, 250, 250);
}

.container {
  max-width: 113.6rem;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: left;
}
h1 span {
  display: block;
}

h2, .product .product__container .product__content .product__title .product__span, .product .product__container .product__content .product__title {
  font-size: 2.4rem;
  color: rgb(17, 17, 17);
  font-weight: 600;
  line-height: 1.166;
  letter-spacing: -0.03em;
  text-align: center;
}
h2 span, .product .product__container .product__content .product__title .product__span span, .product .product__container .product__content .product__title span {
  color: rgb(253, 146, 34);
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: -0.02em;
  text-align: left;
}

h4 {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.285;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgb(17, 17, 17);
}
h4 span {
  color: rgb(255, 255, 255);
}

h1,
h2,
.product .product__container .product__content .product__title .product__span,
.product .product__container .product__content .product__title,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}
.header__container a:hover, .header__container a:focus {
  outline: none;
  transform: scale(1.05);
}
.header__container .header__link {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgb(17, 17, 17);
  margin-right: 18rem;
}
.header__container .navbar {
  margin-right: 11rem;
}
.header__container .navbar .navbar__list {
  list-style: none;
  flex-basis: 50440%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 2rem !important;
}
.header__container .navbar .navbar__list:nth-child(5) a {
  margin-right: 0;
}
.header__container .navbar .navbar__list .navbar__item {
  display: flex;
}
.header__container .navbar__link {
  font-size: 14px;
  font-weight: 600 !important;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: rgb(17, 17, 17) !important;
  margin-right: 2rem;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__container .navbar__link:hover, .header__container .navbar__link:focus {
  outline: none;
  transform: scale(1.05) !important;
}
.header__container .navbar__link:hover::after, .header__container .navbar__link:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: rgb(253, 146, 34);
  top: 4.65rem;
  left: 0rem;
  border-radius: 0.2rem;
}
.header__container .iconsHeader__item {
  display: inline-block;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__container .iconsHeader__item:nth-child(2) {
  margin-left: 1.8rem;
}
.header__container .iconsHeader__item:hover, .header__container .iconsHeader__item:focus, .header__container .iconsHeader__item:focus-within {
  fill: rgb(253, 146, 34);
}

.hero {
  background-image: url("../images/hero.jpg"), linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);
  max-width: 113.6rem;
  height: 60rem;
  margin: 0 auto;
  border-radius: 3rem;
}
.hero .hero__content {
  position: relative;
  padding: 38.8rem 4rem 4rem 4rem;
}
.hero .hero__content .hero__heading {
  color: rgb(255, 255, 255);
  margin-bottom: 3.2rem;
}
.hero .hero__content .hero__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero .hero__content .hero__btns .hero__btn {
  display: flex;
  flex-direction: row;
  justify-content: "";
  align-items: "";
  gap: 1.4rem;
}

p, .sellers__content .sellers__text, .product .product__container .product__content .product__text, .service .service__flex .service__card .service__text {
  font-size: 1.4remx;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
}

.hero__link {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.285;
  letter-spacing: -0.03em;
  text-align: left;
  outline: none;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link .hero__link-span {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2.5rem;
  margin-left: 1.4rem;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link .hero__link-span .hero__icon {
  fill: rgb(253, 146, 34);
}
.hero__link:focus, .hero__link:focus-within, .hero__link:hover {
  color: rgb(253, 146, 34);
}
.hero__link:hover .hero__link-span {
  background: rgb(253, 146, 34);
}
.hero__link:hover .hero__link-span .hero__icon {
  fill: rgb(255, 255, 255);
}

.hero__icon {
  position: absolute;
  left: 8px;
  top: 8px;
}

.hero__button, .formSubscribe-grid .formSubscribe__btn, .form__textareas .form__submit, .subscribe .subscribe__content .subscribe__btn, .reviews__btn, .hero__button--how {
  width: 14.4rem;
  background-color: rgb(253, 146, 34);
  border: none;
  padding: 1.3rem 0;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2142;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .formSubscribe-grid .formSubscribe__btn:focus, .form__textareas .form__submit:focus, .subscribe .subscribe__content .subscribe__btn:focus, .reviews__btn:focus, .hero__button--how:focus, .hero__button:hover, .formSubscribe-grid .formSubscribe__btn:hover, .form__textareas .form__submit:hover, .subscribe .subscribe__content .subscribe__btn:hover, .reviews__btn:hover, .hero__button--how:hover {
  background: rgb(252, 241, 224);
  color: rgb(253, 146, 34);
}

.hero__button, .formSubscribe-grid .formSubscribe__btn, .form__textareas .form__submit, .subscribe .subscribe__content .subscribe__btn, .reviews__btn, .hero__button--how {
  width: 14.4rem;
  background-color: rgb(253, 146, 34);
  border: none;
  padding: 1.3rem 0;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2142;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  outline: none;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .formSubscribe-grid .formSubscribe__btn:focus, .form__textareas .form__submit:focus, .subscribe .subscribe__content .subscribe__btn:focus, .reviews__btn:focus, .hero__button--how:focus, .hero__button:hover, .formSubscribe-grid .formSubscribe__btn:hover, .form__textareas .form__submit:hover, .subscribe .subscribe__content .subscribe__btn:hover, .reviews__btn:hover, .hero__button--how:hover {
  background: rgb(252, 241, 224);
  color: rgb(253, 146, 34);
}

.hero__button--how {
  width: 18.3rem;
  background: transparent;
  border: 0.1rem solid rgb(255, 255, 255);
}
.hero__button--how:focus-within, .hero__button--how:focus, .hero__button--how:hover {
  color: rgb(253, 146, 34);
  background: rgb(255, 255, 255);
  border: 0.1rem solid rgb(241, 148, 54);
}

p, .sellers__content .sellers__text, .product .product__container .product__content .product__text, .service .service__flex .service__card .service__text {
  font-size: 1.4remx;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
}

.service {
  margin-top: 7.2rem;
  background: rgb(30, 24, 35);
  padding: 5rem;
}
.service .service__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "";
  flex-basis: 91.66666666%;
  -moz-column-gap: 6.1rem;
       column-gap: 6.1rem;
}
.service .service__flex .service__card {
  flex-basis: 29.636363%;
  padding-right: 1.8rem;
  color: rgb(255, 255, 255);
  position: relative;
}
.service .service__flex .service__card .service__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.2rem;
  height: 6.2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-radius: 5rem;
  margin-bottom: 2rem;
}
.service .service__flex .service__card .service__link:hover, .service .service__flex .service__card .service__link:focus {
  border: 0.1rem solid rgb(253, 146, 34);
}
.service .service__flex .service__card .service__title {
  margin-bottom: 2rem;
}
.service .service__flex .service__card .service__text {
  line-height: 1.2192;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
}

.product {
  margin: 12.8rem 0;
}
.product .product__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product .product__container .product__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: "";
  width: 48.6rem;
  margin-bottom: 5rem;
}
.product .product__container .product__content .product__title .product__span {
  display: block;
}
.product .product__container .product__content .product__title .product__span .product__span--two {
  color: rgb(253, 146, 34);
}
.product .product__container .product__content .product__text {
  text-align: center;
  font-size: 1.6rem;
  margin: 2.8rem 0 0 0;
}

.product__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.86666rem;
  list-style: none;
}
.product__list .product__item {
  flex-basis: 23.7673%;
  background: rgb(253, 146, 34);
  padding: 2.8rem 3.6rem 2.8rem 0;
  border-radius: 1.5rem;
}
.product__list .product__item:nth-child(even) {
  background: rgb(255, 255, 255);
}
.product__list .product__item:nth-child(even):hover, .product__list .product__item:nth-child(even):focus, .product__list .product__item:nth-child(even):focus-within {
  border: 0.1rem solid rgb(253, 146, 34);
}
.product__list .product__item .product__image {
  background: rgb(253, 146, 34);
  margin-left: 2.8rem;
}
.product__list .product__item .product__title-card {
  margin-top: 3.6rem;
  padding-left: 1.8rem;
}

p, .sellers__content .sellers__text, .service .service__flex .service__card .service__text, .product .product__container .product__content .product__text {
  font-size: 1.4remx;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
}

.taste {
  padding-bottom: 12.8rem;
}
.taste .taste__title {
  margin-bottom: 5rem;
}
.taste .taste__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.taste__content {
  max-width: 51.6rem;
  padding: 3rem 3.2rem;
  background: rgb(255, 255, 255);
  border-radius: 1.6rem;
}
.taste__content .taste__title-h3 {
  margin-bottom: 3.2rem;
}
.taste__content .taste__title-h3 .taste__title--span {
  display: block;
}
.taste__content .taste__list {
  padding-left: 1.6rem;
  width: 42.5rem;
}
.taste__content .taste__list .taste__item {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgb(17, 17, 17);
  margin-bottom: 2rem;
}
.taste__content .taste__list .taste__item:nth-child(5) {
  margin-bottom: 0;
}

.products {
  padding-bottom: 12.8rem;
}
.products .products__title {
  margin-bottom: 5rem;
}
.products .products__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.8666rem;
  padding-bottom: 3.2rem;
}

.products .products__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0.2rem 0 1.8rem 0;
}
.products .products__btn {
  padding: 0.8rem 1.95rem;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10rem;
  outline: none;
}
.products .products__btn:focus, .products .products__btn:focus-within {
  border: 0.05rem solid rgb(253, 146, 34);
}

.products__list {
  list-style: none;
  text-align: center;
  display: flex;
}
.products__list .products__item {
  flex-basis: 23.7676%;
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
  text-align: center;
  padding: 3.2rem 0;
}
.products__list .products__item .products__image {
  margin: 0 auto;
  margin-bottom: 0.8rem;
}
.products__list .products__item .products__title-card {
  text-align: center;
}

p, .sellers__content .sellers__text, .service .service__flex .service__card .service__text, .product .product__container .product__content .product__text {
  font-size: 1.4remx;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
}

.sellers {
  padding-bottom: 12.8rem;
}
.sellers .sellers__title {
  margin-bottom: 5rem;
}
.sellers .sellers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  list-style: none;
  margin-bottom: 3.2rem;
}

.sellers__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sellers__content .sellers__text {
  width: 40.7rem;
  margin: 0;
}
.sellers__content .sellers__btn {
  background-color: rgb(253, 146, 34);
  border: none;
  padding: 1.4rem 4.59rem;
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2142;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.sellers__content .sellers__btn:focus, .sellers__content .sellers__btn:hover {
  background: rgb(252, 241, 224);
  color: rgb(253, 146, 34);
}

.reviews {
  padding-bottom: 12.8rem;
}
.reviews .reviews__title {
  padding-bottom: 9rem;
}

.reviews__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: "";
}
.reviews__cards-container .reviews__cards {
  width: 35.8rem;
  padding-bottom: 3.2rem;
}
.reviews__cards-container .reviews__cards .reviews__card {
  position: relative;
}
.reviews__cards-container .reviews__cards .reviews__card img {
  margin: 0 auto;
  position: absolute;
  top: -4rem;
  left: 13.9rem;
}

.reviews__content-card {
  width: 35.8rem;
  height: 19.8rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 1.5rem;
  box-shadow: 0px 9.0493154526px 26.5716590881px 0px rgba(215, 228, 249, 0.25);
}
.reviews__content-card .reviews__title-card {
  padding-top: 5.8rem;
  text-align: center;
}
.reviews__content-card .reviews__text {
  padding-top: 2.4rem;
  width: 31.2rem;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin: 0 auto;
}

.reviews__btn {
  font-size: 1.8rem;
  padding: 1.3rem 3.8rem 1.3rem 3.8rem;
  background: transparent;
  color: rgb(17, 17, 17);
  border: 0.1rem solid rgb(241, 148, 54);
  display: block;
  margin: 0 auto;
}
.reviews__btn:focus, .reviews__btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(253, 146, 34);
}

.reviews__cards {
  width: 35.8rem;
  padding-bottom: 3.2rem;
}
.reviews__cards .reviews__card {
  position: relative;
}
.reviews__cards .reviews__card img {
  margin: 0 auto;
  position: absolute;
  top: -4rem;
  left: 13.9rem;
}

.reviews__content-card {
  width: 35.8rem;
  height: 19.8rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 1.5rem;
  box-shadow: 0px 9.0493154526px 26.5716590881px 0px rgba(215, 228, 249, 0.25);
}
.reviews__content-card .reviews__title-card {
  padding-top: 5.8rem;
  text-align: center;
}
.reviews__content-card .reviews__title-card .reviews__text {
  padding-top: 2.4rem;
  width: 31.2rem;
  color: rgba(17, 17, 17, 0.7);
  margin: 0 auto;
}

.subscribe {
  background-image: url(../images/Subscribe.jpg);
  height: 37rem;
}
.subscribe .subscribe__content {
  width: 47.7rem;
  margin: 0 36.6rem;
  padding-top: 7.2rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.subscribe .subscribe__content .subscribe__title {
  text-align: center;
  margin-bottom: 2.4rem;
}
.subscribe .subscribe__content .subscribe__title span {
  display: block;
}
.subscribe .subscribe__content .subscribe__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 0 2.4rem 0;
}
.subscribe .subscribe__content .subscribe__btn {
  font-size: 1.8rem;
  padding: 1.4rem 1.4rem;
}

p, .service .service__flex .service__card .service__text, .product .product__container .product__content .product__text, .sellers__content .sellers__text {
  font-size: 1.4remx;
  font-weight: 400;
  line-height: 1.2857;
  letter-spacing: -0.02em;
  text-align: left;
}

.footer {
  padding-top: 5rem;
  background: rgb(30, 24, 35);
  margin-bottom: 4rem;
}
.footer .footer__grid {
  height: 6.8rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: "";
  padding-bottom: 6.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer__grid .footer__title {
  width: 29rem;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-right: 55.3rem;
}
.footer .footer__grid .footer__contact {
  width: 29.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  height: 6.8rem;
  list-style: none;
}
.footer__list .footer__item .footer__link {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  outline: none;
}
.footer__list .footer__item .footer__link:focus, .footer__list .footer__item .footer__link:focus-within {
  border: 0.05rem solid rgb(253, 146, 34);
}
.footer__list .footer__item:nth-child(1) a {
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer__list .footer__item:nth-child(2) a {
  margin-bottom: 0.4rem;
}

.footer__list-icon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: start;
  gap: 2rem;
  list-style: none;
}
.footer__list-icon .iconsHeader__icon {
  fill: rgb(255, 255, 255);
}
.footer__list-icon .iconsHeader__icon:hover {
  fill: rgb(253, 146, 34);
}

.product__item {
  position: relative;
  overflow: hidden;
}
.product__item:hover {
  box-shadow: 0rem 0.35rem 1.5rem rgba(0, 0, 0, 0.4);
}
.product__item:hover .productModal {
  cursor: pointer;
  transform: translateY(-100%);
}
.product__item:focus,
.product__item :focus-visible,
.product__item :focus-within {
  transform: translateY(-100%);
}
.product__item:focus .productModal__btn,
.product__item :focus-visible .productModal__btn,
.product__item :focus-within .productModal__btn {
  transform: translateY(0%);
  outline: none;
}

.productModal {
  position: absolute;
  width: 27rem;
  height: 27rem;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  left: 0;
  top: 100%;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.productModal .productModal__title {
  width: 21.4rem;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.222;
  letter-spacing: -0.03em;
  text-align: left;
  padding: 2rem 0rem 0.8rem 2rem;
}
.productModal .productModal__text {
  width: 23rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 0;
  padding: 0 2rem 2rem 2rem;
}
.productModal .productModal__btn {
  background-color: rgb(253, 146, 34);
  border: none;
  margin: 0rem 0.6rem 1.4rem 2rem;
  padding: 6px 16px 6px 16px;
  border-radius: 100px;
  font-size: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
.productModal .productModal__btn:hover {
  background: rgb(252, 241, 224);
  color: rgb(17, 17, 17);
}
.productModal .productModal__btn .productModal__btn--modifier {
  width: 9.1rem;
  height: 2.2rem;
  background: rgb(252, 241, 224);
  color: rgb(17, 17, 17);
  border: 0.1rem solid rgb(241, 148, 54);
  padding: 0;
  margin: 0;
}
.productModal .productModal__btn .productModal__btn--modifier:hover {
  background: rgb(255, 255, 255);
  color: rgb(253, 146, 34);
}

.buyNow__btnClose, .buyNow-send .buyNow__btnClose--modifier {
  position: absolute;
  top: 24px;
  margin-left: 55.2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.buyNow__btnClose:hover, .buyNow-send .buyNow__btnClose--modifier:hover, .buyNow__btnClose:focus, .buyNow-send .buyNow__btnClose--modifier:focus {
  outline: none;
  fill: rgb(253, 146, 34);
}

.buyNow {
  position: relative;
  width: 60.9rem;
  margin: 0 auto;
  padding-top: 4.8rem;
  padding-bottom: 5.8rem;
  border-radius: 2rem;
}
.buyNow .buyNow__title {
  margin-bottom: 3.2rem;
}
.buyNow .buyNow__list {
  width: 51.3rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.buyNow .buyNow__list .buyNow__item {
  width: 15.8rem;
  height: 19.4rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 1.5rem;
}
.buyNow .buyNow__list .buyNow__item .buyNow__image {
  margin: 2.4rem 2rem 1.4rem 2rem;
}
.buyNow .buyNow__list .buyNow__item:nth-child(3) img {
  margin-top: 2rem;
}
.buyNow .buyNow__list .buyNow__item:hover {
  transform: scale(1.05);
}
.buyNow .buyNow__list .buyNow__item .buyNow__btn {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(17, 17, 17, 0.1);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 8px 27px 8px 27px;
  border-radius: 100px;
}
.buyNow .buyNow__list .buyNow__item .buyNow__btn:hover, .buyNow .buyNow__list .buyNow__item .buyNow__btn:focus {
  outline: none;
  border: 1px solid rgb(253, 146, 34);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 146, 34, 0.5);
}

.modal-send,
.modal,
.modal-subscribe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal-send {
  transform: scale(100%);
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal--modifier {
  transform: scale(88%);
  top: -50px;
  left: 35%;
}

.subscribe-hidden,
.send-hidden,
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.form {
  padding: 0 4.8rem 4.8rem 4.8rem;
}
.form .form__title {
  margin-bottom: 0.7rem;
}
.form .form__inputs {
  display: flex;
  flex-direction: "";
  justify-content: "";
  align-items: "";
  box-shadow: 0px 5.4449152946px 5.4449152946px 0px rgba(0, 0, 0, 0.03);
  margin-bottom: 1.5rem;
}
.form .form__inputs input[type=email],
.form .form__inputs input[type=number] {
  flex: 1;
}
.form .form__inputs .form__input {
  display: "inline-block";
  background: rgb(250, 250, 250);
}
.form .form__inputs--grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form__span--svg {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-right: 32px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: -0.02em;
  border-right: 2px solid rgba(17, 17, 17, 0.2);
  margin-right: 2rem;
}
.form__span--svg .form__icon {
  margin-right: 1.5rem;
}

.form__inputs--visa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form__inputs--visa .form__input {
  border-right: none;
  flex: 1;
}
.form__inputs--visa .form__input .form__icon--visa {
  margin-right: 0 !important;
}

.form__inputs--svg .form__input {
  display: inline-block;
  width: 23.7rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  padding: 0;
  border: none;
  outline: none;
}
.form__inputs--svg .form__inputs--svg .modal__icon {
  margin: 0rem 1.8rem 0 0;
}

.form .form__input:hover, .form .form__input:focus, .form .form__input:focus-within,
.form .form__inputs--svg:hover,
.form .form__inputs--svg:focus,
.form .form__inputs--svg:focus-within,
.form .form__inputs--visa:hover,
.form .form__inputs--visa:focus,
.form .form__inputs--visa:focus-within {
  border: none;
  border: 1px solid rgb(253, 146, 34);
  border-radius: 1.3rem;
  cursor: pointer;
  outline: none;
}
.form .form__input--svg:hover, .form .form__input--svg:focus, .form .form__input--svg:focus-within {
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;
  outline: none;
}

.form__textareas .form__textarea {
  width: 46.3rem;
  height: 9.1rem;
  padding: 2.2rem 2.4rem;
  background: rgb(250, 250, 250);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.4449152946px 5.4449152946px 0px rgba(0, 0, 0, 0.03);
  background: rgb(250, 250, 250);
  color: rgba(64, 64, 64, 0.3);
  border-radius: 13px;
  margin: 0;
  outline: none;
  resize: none;
  font-size: 1.8rem;
  line-height: 1.222;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 1.5rem;
}
.form__textareas .form__textarea:hover, .form__textareas .form__textarea:focus, .form__textareas .form__textarea:focus-within {
  border: none;
  border: 1px solid rgb(253, 146, 34);
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
}
.form__textareas .form__submit {
  width: unset;
  padding: 14px 43.83px;
}
.form__textareas .form__textarea--width {
  display: block;
  width: 38.7rem !important;
}
.form__textareas .form__submit--modifier {
  padding: 14px 42.67px;
}

.buyNow-send {
  width: 51.7rem;
  position: relative;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem !important;
  border-radius: 2rem;
  margin: 12.8rem auto;
}
.buyNow-send .buyNow__btnClose--modifier {
  display: block;
  margin-left: 46rem !important;
}
.buyNow-send .buyNow__title--modifier {
  text-align: left;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}
.buyNow-send .buyNow__title--modifier span {
  display: block;
}
.buyNow-send .form--send {
  padding: 0 4rem 0 4rem !important;
}
.buyNow-send .form--send input[type=text] {
  flex: 1;
}

.buyNow__btnClose, .buyNow-send .buyNow__btnClose--modifier {
  position: absolute;
  top: 24px;
  margin-left: 55.2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.buyNow__btnClose:hover, .buyNow-send .buyNow__btnClose--modifier:hover, .buyNow__btnClose:focus, .buyNow-send .buyNow__btnClose--modifier:focus {
  outline: none;
  fill: rgb(253, 146, 34);
}

input {
  display: block;
  font-size: 1.8rem;
  padding: 21px 22px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background: rgb(250, 250, 250);
  color: rgba(64, 64, 64, 0.3);
  font-weight: 400;
  line-height: 1.222;
  letter-spacing: -0.02em;
  text-align: left;
  outline: none;
}

.form__inputs--svg {
  display: flex;
  flex-direction: "";
  justify-content: "";
  align-items: center;
  flex: 1;
  font-size: 1.8rem;
  padding: 21.67px 22px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.4449152946px 5.4449152946px rgba(0, 0, 0, 0.03);
  margin-bottom: 1.5rem;
  outline: none;
}

textarea {
  width: 46.3rem;
  height: 9.1rem;
  padding: 2.2rem 2.4rem;
  background: rgb(250, 250, 250);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.4449152946px 5.4449152946px 0px rgba(0, 0, 0, 0.03);
  background: rgb(250, 250, 250);
  color: rgba(64, 64, 64, 0.3);
  border-radius: 13px;
  margin: 0;
  outline: none;
  resize: none;
  font-size: 1.8rem;
  line-height: 1.222;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 1.5rem;
}

.footer__list-menu {
  width: 53.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0 5rem 3.2rem;
  list-style: none;
}
.footer__list-menu .footer__link-menu {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.428rem;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
  outline: none;
}
.footer__list-menu .footer__link-menu:focus, .footer__list-menu .footer__link-menu:focus-within {
  border: 0.05rem solid rgb(253, 146, 34);
}

.formSubscribe {
  width: 53.8rem;
  border-radius: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.formSubscribe .formSubscribe__image {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.formSubscribe .formSubscribe__title {
  padding-left: 4rem;
  margin: 4rem 0 2.8rem 0;
  text-align: left;
}
.formSubscribe .formSubscribe__title span {
  display: block;
}
.formSubscribe .formSubscribe__title span span {
  display: inline;
  color: rgb(17, 17, 17);
}

.formSubscribe-grid {
  display: flex;
  flex-direction: row;
  justify-content: "";
  align-items: "";
  width: 45.8rem;
  margin-left: 4rem;
}
.formSubscribe-grid .formSubscribe__input {
  all: unset;
  display: block;
  padding: 0rem 5.4rem;
  font-size: 1.8rem;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background: rgb(250, 250, 250);
  color: rgba(64, 64, 64, 0.3);
  font-weight: 400;
  line-height: 1.222;
  letter-spacing: -0.02em;
  text-align: left;
  outline: none;
  margin-right: 0.8rem;
}
.formSubscribe-grid .formSubscribe__input:hover, .formSubscribe-grid .formSubscribe__input:focus, .formSubscribe-grid .formSubscribe__input:focus-within {
  border: none;
  border: 1px solid rgb(253, 146, 34);
  border-radius: 1.3rem;
  cursor: pointer;
  outline: none;
}
.formSubscribe-grid .formSubscribe__btn {
  display: block;
  width: unset;
  padding: 1.5rem 2.7rem;
  font-size: 1.8rem;
  border-radius: 100px;
}

.carousel {
  width: 10.6rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
  margin: 0 auto;
}
.carousel .carousel__item {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 0.65rem;
}
.carousel .carousel__item:first-child {
  width: 2.8rem;
  background: rgb(253, 146, 34);
}

.service__pseudoBarra {
  position: relative;
}
.service__pseudoBarra::after {
  content: "";
  position: absolute;
  width: 12.4rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.7);
  top: 4rem;
  left: -12.5rem;
  border-radius: 0.2rem;
  transform: rotate(-90deg);
}/*# sourceMappingURL=main.css.map */