$primary-color: rgba(253, 146, 34, 1);
$secondary-color: rgba(17, 17, 17, 1);
$bg-bodycolor: rgba(250, 250, 250, 1);
$bg-footercolor: rgba(30, 24, 35, 1);
$color-white: rgba(255, 255, 255, 1);
$color-text: rgba(255, 255, 255, 0.7);
$primary-font: 'Montserrat', sans-serif;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$borderHeader: #ececec;
$text-reviews: rgba(17, 17, 17, 0.7);
