@import '../utils/variables';
@import '../utils/mixins';
.hero__link-span {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  background-color: $color-white;
  border-radius: 2.5rem;
  margin-left: 1.4rem;
  transition: border 0.25s $cubic-bezier;
}
.hero__link {
  @include flex(row, left, center);
  color: $color-white;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.285;
  letter-spacing: -0.03em;
  text-align: left;
  outline: none;
  transition: background 0.25s $cubic-bezier;
  .hero__icon {
    fill: $primary-color;
  }
  &:focus,
  &:focus-within,
  &:hover {
    color: $primary-color;
  }

  &:hover .hero__link-span {
    background: $primary-color;
    .hero__icon {
      fill: $color-white;
    }
  }
}

.hero__icon {
  position: absolute;
  left: 8px;
  top: 8px;
}
