@import '../utils/variables';
@import '../utils/mixins';

.reviews__cards {
  width: 35.8rem;
  padding-bottom: 3.2rem;

  .reviews__card {
    position: relative;
    img {
      margin: 0 auto;
      position: absolute;
      top: -4rem;
      left: 13.9rem;
    }
  }
}

.reviews__content-card {
  width: 35.8rem;
  height: 19.8rem;
  background-color: $color-white;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 1.5rem;
  box-shadow: 0px 9.049315452575684px 26.571659088134766px 0px rgba(215, 228, 249, 0.25);
  .reviews__title-card {
    padding-top: 5.8rem;
    text-align: center;
    .reviews__text {
      padding-top: 2.4rem;
      width: 31.2rem;
      color: $text-reviews;
      margin: 0 auto;
    }
  }
}
